.blog__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.blog__card {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.blog__card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.blog__content {
  padding: 1rem;
}

.blog__content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.blog__excerpt {
  font-size: 1rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

.blog__content .btn {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.blog__content .btn:hover {
  background-color: var(--primary-color-dark);
}

@media (max-width: 768px) {
  .blog__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
